#main_panel{
    text-align: center;
}
#font1{
    width: 30px;
}
#font2{
    width: 30px;
}
#output{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    width: 50%;
}
#save_down{
    visibility: hidden;
}
#save_img{
    visibility: hidden;
}